$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$lightColor: #ffffff;
$info-background: #18bc9c;
$dark-color:#2c3e50;
$title: 'Righteous', cursive;
$text: 'Josefin Sans', sans-serif;

@media screen and (max-width: 549px) {
  .navbar-text, .btn-collapsed {
    margin-top: 10%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 40%;
    max-height: 180px;
  }
  header {
    h2 {
      margin-bottom: 14%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 5%;
  }
  .course-title, .course-description {
    padding-left: 5%;
  }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
  .navbar-text {
    margin-top: 130px;
  }
  .btn-collapsed {
    margin-top: 6%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 25%;
    max-height: 180px;
  }
  header {
    h2 {
      padding-bottom: 5%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 4%;
  }
  .course-title, .course-description {
    padding-left: 4%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .navbar-text {
    margin-top: 130px;
  }
  .btn-collapsed {
    margin-top: 5.5%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 25%;
    max-height: 180px;
  }
  header {
    h2 {
      padding-bottom: 7%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 3%;
  }
  .course-title, .course-description {
    padding-left: 3%;
  }
}

@media screen and (min-width: 769px) {
  .img-header{
    max-height: 230px;
    margin-top: 17%;
  }
  header{
    h2 {
      padding-bottom: 5%;
    }
  }
  .contacts-title {
    padding-top: 10%;
  }
  .contacts-icon, .contacts-text {
    margin-bottom: 12%;
  }
  .education-title {
    padding-top: 2%;
  }
}

.navbar {
  background-color:$info-background;
  font-family: $title;
  height: 120px;
}

.dark-background {
  background-color: $dark-color;
}

.navbar-brand, .navbar-item {
  color: $lightColor;
}

.icon-bar {
  background-color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $info-background;
  text-decoration: underline;
  color: $dark-color;
}

.navbar-brand:hover, .navbar-brand:focus {
  font-weight: bold;
  color: $dark-color;
}

.img-brand {
  height: 80px;
}

.navbar-text {
  margin-top: 8%;
  font-size: 1.3em;
}

.header-title {
  color: $lightColor;
  font-family: $title;
}

.info-background {
  background-color: $info-background;
}

.course-title, .course-description {
  color: $dark-color;
  font-family: $text;
}

.contacts-title, .education-title, .online-courses-title {
  color: $dark-color;
  font-family: $title;
  text-transform: uppercase;
}

.link-course {
  color: $dark-color;
}

.online-course {
  border: solid 0.8px $dark-color;
  font-family: $text;
  color: $dark-color;
  p {
    margin-bottom: 0;
  }
  margin-bottom: 3%;
}

.contacts-text {
  color: $lightColor;
  font-family: $text;
  font-size: 1.4em;
}

#email:hover, #email:focus {
  background-color: $dark-color;
  color: $lightColor;
}

.contacts-icon {
  color: $lightColor;
  font-size: 2.5em;
}

.contacts-icon:hover, .contacts-icon:focus {
  color: $dark-color;
}

footer {
  color: $lightColor;
  font-family: $text;
  p {
    padding-top: 15px;
  }
}
