//bower:scss
//@import "bower_components/bootstrap/scss/bootstrap.scss";
//endbower

/* ==========================================================================
   Base styles
   ========================================================================== */

// Sass Variables
$color-title: #ffffff;
$font-title: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$section-title: #9a174d;
$font-body: "Lucida Console", Monaco, monospace;
$margin-section: 10%;

// Related to navbar animation
@media(min-width: 767px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out, height .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, height .5s ease-in-out;
    transition: background .5s ease-in-out, height .5s ease-in-out;
  }

  .top-nav-collapse {
    height: 10vh;
  }
}

// Hide middle name
@media screen and (max-width: 450px) {
  .navbar-brand {
    span {
      display: none;
    }
  }
}

// Hide my github contributions
@media screen and (max-width: 950px) {
  #github, .nav-link-contributions {
    display: none;
  }
}

// Centralize contact info itens and change it size.
@media screen and (max-width: 1080px) {
  .contacts {
    p {
      font-size: 1rem;
      display: flex;
      justify-content: center;
    }
    p .fa-map-marker, p .fa-envelope-o {
      font-size: 1rem;
    }
  }

  .contact_subtitle {
    display: flex;
    justify-content: center;
  }
}

// Navbar + header background and fonts
.container_header {
  background: -webkit-linear-gradient(170deg, #1e88e5, #88ffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(170deg, #1e88e5, #88ffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(170deg, #1e88e5, #88ffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(170deg, #1e88e5, #88ffff); /* Standard syntax */
  color: $color-title;
  font-family: $font-title;
  padding-top: 5vh;
}

// Navbar
.navbar-custom {
  background-color: transparent;
  a:hover, a:focus {
    color: $color-title;
  }
}

.nav-link {
  color: #ffffff;
}

/* Set a different color on navbar-toggler-icon (hamburger icon) */
.navbar-toggler-icon {
  border: solid 1px #fff;
  padding: 20px;
  border-radius: 8%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
  border-bottom: solid 3px #ffffff;
  -webkit-transition: border 0.5s;
  transition: border 0.2s ease;
}

/* Config to Navbar icons collapsed */
.navbar-collapse {
  text-align: center;
}

// Header
.header {
  padding-bottom: 20%;
  padding-top: 20%;
}

.btn_linkedin {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: 5vh;
}

.header_btn.btn-bg button {
  width: 8.5em;
  height: 2.7em;
  color: #ffffff;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: border 0.5s ease-out;
  transition: border 0.5s ease-out;
  transition-delay: 0.8s;
}

.header_btn.btn-bg button span {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 10px;
}

.header_btn.btn-bg button::before,
.header_btn.btn-bg button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 18em;
  height: 18em;
  left: -5em;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  z-index: 1;
}

.header_btn.btn-bg button::after {
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.header_btn.btn-bg button:hover {
  color: #fff;
  border-color: rgba(91, 11, 39, 1);
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

// Color animation efect
.header_btn.btn-bg button:hover::before {
  box-shadow: inset 0 0 0 11em $section-title;
  transition-delay: 0.05s;
}

.header_btn.btn-bg button:hover::after {
  box-shadow: inset 0 0 0 11em rgba(91, 11, 39, 1);
  transition-delay: 0.5s;
}

// Margin and paragraph of sections
.about, .education, .projects, .questions, .github, .interests, .contacts {
  margin-top: $margin-section;
  p {
    font-family: $font-body;
  }
}

// Fix anchors link problem, adding a div with a padding-top
.section_padding {
  padding-top: 3vh;
}

// Title of sections
.section_title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: $section-title;
  margin-bottom: 6%;
}

// Projects section
.project_img {
  margin-bottom: 5vh;
}

.projects {
  padding-bottom: 20vh;
}


// Background grey
.container_emphasis {
  background-color: #DDDDDD;
}

// Education section
.education_btn {
  cursor: pointer;
  color: #fff;
  background-color: $section-title;
  box-shadow: 0 0 0 0 rgba(91, 11, 39, 0);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.education_btn:hover {
  box-shadow: 0 0 0 3px rgba(91, 11, 39, 1);
  color: #ffffff;
  font-weight: bold;
}

.education {
  .col-md-9 a {
    color: rgb(95, 95, 95);
    font-family: $font-body;
    font-weight: bold;
  }
}

// Questions section
.card { // collapse card
  font-family: $font-body;
  a {
    color: $section-title;
  }
}

// Github contributions

.calendar {
  width: 750px;
  font-family: $font-body;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
  padding-top: 6vh;
  h2 {
    font-size: 1rem;
  }
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 0.7rem;
  fill: rgb(95, 95, 95);
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: rgb(95, 95, 95);
}

.calendar-graph {
  padding: 5px 0 0;
  height: 126px;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

.monospace a {
  color: $section-title;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: rgb(95, 95, 95);
}

.left.text-muted a {
  color: $section-title;
  text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

// My interests section

.interests_subtitle {
  color: #5f5f5f;
  font-family: $font-body;
  i {
    color: $section-title;
  }
}

// Contact section
.contact_subtitle {
  color: $section-title;
  font-family: $font-title;
  margin-bottom: 6%;
}

p {
  .fa-map-marker, .fa-envelope-o {
    font-size: 3vh;
    margin-right: 3%;
    color: #5f5f5f;
  }
}

/* Social icon (contact_icon) config  --> https://tympanus.net/codrops/2013/05/30/simple-icon-hover-effects/ */
.contact_icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;

}

.contact_icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.contact_icon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.contact_icon {
  background-color: $section-title;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.contact_icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px $section-title;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.contact_icon:hover {
  background: $section-title;
  color: #ffffff;
}

.contact_icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

// Footer
.footer {
  padding: 3% 3% 0.75% 3%;
  background-color: #5f5f5f;
  font-family: $font-title;
  a, p {
    color: $color-title;
  }
  a {
    font-size: 1.3rem;
  }
  li {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 2vh;
  }
  p {
    font-size: 0.9em;
  }
}

.invisible_link {
  position: absolute;
  text-indent: -9999px;
}
