$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$lightColor: #ffffff;
$info-background: #18bc9c;
$dark-color:#2c3e50;
$title-font: 'Righteous', cursive;
$text-font: 'Josefin Sans', sans-serif;
$text-size: 1.2em;

@media screen and (max-width: 549px) {
  .navbar-text, .btn-collapsed {
    margin-top: 10%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 40%;
  }
  header {
    h2 {
      margin-bottom: 14%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 5%;
  }
  .course-title, .course-description {
    padding-left: 5%;
  }
  .online-course {
    max-width: 62%;
    padding: 10px;
  }
  .img-courses, .alura {
    padding: 10px;
  }
  .img-courses {
    height: 55px;
  }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
  .navbar-text {
    margin-top: 130px;
  }
  .btn-collapsed {
    margin-top: 6%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 25%;
  }
  header {
    h2 {
      padding-bottom: 5%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 4%;
  }
  .course-title, .course-description {
    padding-left: 4%;
  }
  .online-course {
    max-width: 45%;
    padding: 10px;
  }
  .img-courses, .alura {
    padding: 10px;
  }
  .img-courses {
    height: 62px;
  }
  .alura {
    height: 55px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .navbar-text {
    margin-top: 130px;
  }
  .btn-collapsed {
    margin-top: 5.5%;
  }
  .navbar-item {
    background-color: $info-background;
  }
  .img-header {
    margin-top: 25%;
  }
  header {
    h2 {
      padding-bottom: 7%;
    }
  }
  .contacts-title {
    padding-top: 5%;
  }
  .contacts-icon {
    margin-bottom: 30px;
  }
  .education-title {
    padding-top: 2%;
    padding-left: 3%;
  }
  .course-title, .course-description {
    padding-left: 3%;
  }
  .online-course {
    max-width: 45%;
    padding: 15px;
  }
  .img-courses, .alura {
    padding: 10px;
  }
  .img-courses {
    height: 62px;
  }
  .alura {
    height: 55px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .img-header{
    margin-top: 15%;
  }
  header{
    h2 {
      padding-bottom: 5%;
    }
  }
  .contacts-title {
    padding-top: 10%;
  }
  .contacts-icon, .contacts-text {
    margin-bottom: 12%;
  }
  .education-title {
    padding-top: 2%;
  }
  .online-course {
    max-width: 19%;
    margin-left: 5%;
    padding: 15px;
    height: 210px;
  }
  .img-courses, .alura {
    padding: 10px;
  }
  .img-courses {
    height: 62px;
  }
  .alura {
    height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .img-header{
    margin-top: 15%;
  }
  header{
    h2 {
      padding-bottom: 5%;
    }
  }
  .contacts-title {
    padding-top: 10%;
  }
  .contacts-icon, .contacts-text {
    margin-bottom: 12%;
  }
  .education-title {
    padding-top: 2%;
  }
  .online-course {
    max-width: 15%;
    margin-left: 8%;
    padding: 15px;
    height: 185px;
  }
  .img-courses, .alura {
    padding: 10px;
  }
  .img-courses {
    height: 62px;
  }
  .alura {
    height: 50px;
  }
}

.navbar {
  background-color:$info-background;
  font-family: $title-font;
  height: 120px;
}

.dark-background {
  background-color: $dark-color;
}

.navbar-brand, .navbar-item {
  color: $lightColor;
}

.icon-bar {
  background-color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $info-background;
  text-decoration: underline;
  color: $dark-color;
}

.navbar-brand:hover, .navbar-brand:focus {
  font-weight: bold;
  color: $dark-color;
}

.navbar-text {
  margin-top: 8%;
  font-size: 1.3em;
}

.header-title {
  color: $lightColor;
  font-family: $title-font;
}

.info-background {
  background-color: $info-background;
}

.course-title, .course-description {
  color: $dark-color;
  font-family: $text-font;
  font-size: $text-size;
}

.contacts-title, .education-title, .online-courses-title {
  color: $dark-color;
  font-family: $title-font;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.link-course {
  color: $dark-color;
}

.online-course {
  border: solid 0.8px $dark-color;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: $text-font;
  color: $dark-color;
  font-size: $text-size;
  vertical-align: middle;
  p {
    margin-bottom: 0;
  }
  margin-bottom: 3%;
}

.online-course:hover, .online-course:focus{
  -webkit-box-shadow: 10px 10px 26px 0px rgba(28,27,28,0.62);
  -moz-box-shadow: 10px 10px 26px 0px rgba(28,27,28,0.62);
  box-shadow: 10px 10px 26px 0px rgba(28,27,28,0.62);
}

.contacts-text {
  color: $lightColor;
  font-family: $text-font;
  font-size: 1.4em;
}

#email:hover, #email:focus {
  background-color: $dark-color;
  color: $lightColor;
}

.contacts-icon {
  color: $lightColor;
  font-size: 2.5em;
}

.contacts-icon:hover, .contacts-icon:focus {
  color: $dark-color;
}

footer {
  color: $lightColor;
  font-family: $text-font;
  p {
    padding-top: 15px;
  }
}
