/* === Inconsolata - regular */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Inconsolata-Regular.eot");
	src: local("Inconsolata Regular"),
		local("Inconsolata-Regular"),
		url("./font/Inconsolata-Regular.eot") format("embedded-opentype"),
		url("./font/Inconsolata-Regular.woff2") format("woff2"),
		url("./font/Inconsolata-Regular.woff") format("woff"),
		url("./font/Inconsolata-Regular.ttf") format("truetype"),
		url("./font/Inconsolata-Regular.svg") format("svg");
}

/* === Montaga - regular */
@font-face {
	font-family: 'Montaga';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Montaga-Regular.eot");
	src: local("Montaga"),
		local("Montaga-Regular"),
		url("./font/Montaga-Regular.eot") format("embedded-opentype"),
		url("./font/Montaga-Regular.woff2") format("woff2"),
		url("./font/Montaga-Regular.woff") format("woff"),
		url("./font/Montaga-Regular.ttf") format("truetype"),
		url("./font/Montaga-Regular.svg") format("svg");
}

/* === Montserrat Alternates - regular */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 400;
	src: url("./font/MontserratAlternates-Regular.eot");
	src: local("Montserrat Alternates Regular"),
		local("MontserratAlternates-Regular"),
		url("./font/MontserratAlternates-Regular.eot") format("embedded-opentype"),
		url("./font/MontserratAlternates-Regular.woff2") format("woff2"),
		url("./font/MontserratAlternates-Regular.woff") format("woff"),
		url("./font/MontserratAlternates-Regular.ttf") format("truetype"),
		url("./font/MontserratAlternates-Regular.svg") format("svg");
}
