<h4 class="text-center mb-4 interests_subtitle">I love
  <img src="img/music.svg" alt="to listen music" style="height: 24px">
  !
</h4>
<div class="music_list mx-auto d-block mb-4">
<div for(music in input) >
  <a href="${music.musicUrl}" rel="noopener" class="music_title" title="Go to Spotify to listen: ${music.musicName}">
    <p>
      <img src="img/play.svg" alt="play" class="img-fluid play">${music.musicName} - ${music.musicArtist}
    </p>
  </a>
</div>
</div>
